 
 
{% extends 'base.html' %}
{% block content %}

{% load static %}




<style>
    #input,select,textarea{
        box-shadow: 2px 2px 2px gray;
    }
    #input:hover{
        box-shadow: none;
    }
    label{
        color: black;
    }
    body{
        background-color: rgb(130, 144, 199);
        
    }
</style>



    

<!-- Add this in the head section of your HTML -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="container col-md-10 mr-1" style="background-color: rgb(130, 144, 199);min-height: 100vh;">
    <br><br><br><br><br>    
    <form action="" class="col-10 container" method="post" enctype="multipart/form-data" style="background-color: white; padding: 30px; border-radius: 15px;box-shadow: 4px 3px 4px gray;">
        {% csrf_token %}
    <div class="container col-md-10">
        <h2>Edit Debit Note</h2><br>
        <div class="form-group row">
            <div class="col"><label for=""> Party Name:</label><input id="input" type="text" name="partyname" class="form-control" placeholder="Party Name" required><small>Balance</small></div>
            <div><a href="" style="background-color: #3d4465;color: white;margin-top: 30px;" onmouseover="this.style.backgroundColor='#480ceb'" onmouseout="this.style.backgroundColor='#3d4465'" class="btn "><strong>+</strong></a></div>
            <div class="col"><label for=""> Phone Number:</label><input id="input" type="text" name="mobilenumber" class="form-control" pattern="[0-9]{10}" placeholder="Phone Number" required></div>
            <div class="col"><label for=""> Return No:</label><input id="input" type="text" name="gstin" class="form-control" placeholder="Return No." id="gstinInput" pattern="[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[0-9]{1}Z[0-9]{1}"> <small>#27ABCDE1234F1Z5</small></div>
            
        </div>

        

        <div class="row form-group">

            <div class="col-md">
                <label for="">Bill No:</label>
                    <select name="gstintype" class="form-control">
                        <option value="">No Bill</option>
                        <option value="Unregistered/Consumers">Unregistered/Consumers</option>
                        <option value="Registered Buisness - Regular">Registered Buisness - Regular</option>
                        <option value="Registered Buisness - Composition">Registered Buisness - Composition</option>
                    </select>
            </div>
            <div class="col-md"><label for="">Bill Date</label><input id="input" type="date" name="date" class="form-control" value="{{todaydate}}"  ></div>
            <div class="col-md"><label for="">Date</label><input id="input" type="date" name="date" class="form-control" value="{{todaydate}}"  ></div>
            <div class="col-md">
                <label for="">Supply Source:</label>
                    <select name="state" class="form-control">
                        <option value="">Select</option>
                        <option value="Andhra Pradesh">state</option>
                        <option value="Arunachal Pradesh">Other State</option>
                    </select>
            </div>
        </div><br>

        <div class="row form-group" style="display: none;">
            <div class="col-md-6">
                <label for="">Billing Adrress</label><textarea name="address" id="" cols="10" rows="4" class="form-control" placeholder="Billing Address...">{{partyy.billing_address}}</textarea>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <div class="col-md-4">
                {% if partyy.opening_balance >= 0 %}
                <label for="">Balance</label><input id="input" type="number" value="{{ partyy.opening_balance }}" name="balance" class="form-control" placeholder="Balance" min="0">
                {% elif 0 > partyy.opening_balance %}
                <label for="">Balance</label><input id="input" type="number" value="" name="balance" class="form-control" placeholder="Balance" min="0">
                {% endif %}

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row form-group">
            <div class="col-lg-12">
                <table class="table table-responsive-md">
                    <thead>
                        <th>#</th>
                        <th colspan="2">Items</th>
                        <th>HSN</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Tax%</th>
                        <th>Discount</th>
                        <th>Amount</th>
                        <th>Field</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="color: black;">1</td>
                            <td class="p-0"><select name="state" class="form-control" style="width: max-content;">
                                <option value="">Select</option>
                                <option value="Andhra Pradesh">state</option>
                                <option value="Arunachal Pradesh">Other State</option>
                            </select></td>
                            <td class="pl-1"><a href="" style="background-color: #3d4465;color: white;" onmouseover="this.style.backgroundColor='#480ceb'" onmouseout="this.style.backgroundColor='#3d4465'" class="btn "><strong>+</strong></a></td>
                            <td><input type="number" class="form-control" value="2" id="input"></td>
                            <td><input type="number" class="form-control" value="0" id="input"></td>
                            <td><input type="number" class="form-control" value="5000" id="input"></td>
                            <td><input type="number" class="form-control" value="250" id="input"></td>
                            <td><input type="number" class="form-control" value="50" id="input"></td>
                            <td style="width:auto;"><input type="number" class="form-control" value="23456" id="input"></td>
                            <td><a href="" style="background-color: #3d4465;color: white;" onmouseover="this.style.backgroundColor='#480ceb'" onmouseout="this.style.backgroundColor='#3d4465'" class="btn "><strong>-</strong></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12"><a href="" style="background-color: #3d4465;color: white;" onmouseover="this.style.backgroundColor='#480ceb'" onmouseout="this.style.backgroundColor='#3d4465'" class="btn "><strong>+</strong></a></div>
        </div>
    </div>
    <div class="container col-md-10">
        <div class="form-group row">
            <div class="col"><label for=""> Subtotal:</label><input id="input" type="number" name="Subtotal" class="form-control" placeholder="0.00" required></div>
            <div class="col"><label for=""> CGST</label><input id="input" type="number" name="CGST" class="form-control" placeholder="0.00" required></div>
            <div class="col"><label for=""> SGST:</label><input id="input" type="number" name="SGST" class="form-control" placeholder="0.00"></div>
        </div>
        <div class="form-group row">
            <div class="col"><label for=""> Tax Amount:</label><input id="input" type="number" name="Tax" class="form-control" placeholder="0.00" required></div>
            <div class="col"><label for=""> Adjustment:</label><input id="input" type="number" name="Adjustment" class="form-control" placeholder="0.00" required></div>
            <div class="col"><label for=""> Total:</label><input id="input" type="number" name="total" class="form-control" placeholder="0.00" required></div>
        </div>
    </div>
    <center>
        <button style="background-color: #3d4465;color: white;" onmouseover="this.style.backgroundColor='#480ceb'" onmouseout="this.style.backgroundColor='#3d4465'" class="btn  " >Update</button> 
        <a href="" class="btn btn-danger " >Cancel</a> 
    </center>

</form><br><br><br><br>

</div>



<script>
    
    // Function to show/hide radio buttons based on the balance value
    function toggleRadioButtons() {
        var balanceInput = document.querySelector('[name="balance"]');
        var radioButtonsContainer = document.querySelector('.radio-buttons');

        if (parseFloat(balanceInput.value) > 0) {
            radioButtonsContainer.style.display = 'block';
        } else {
            radioButtonsContainer.style.display = 'none';
        }
    }

    // Initial state on page load
    toggleRadioButtons();

    // Bind the function to the input's input event
    document.querySelector('[name="balance"]').addEventListener('input', toggleRadioButtons);

    
// ------------------------------------------------------------------------------------------------------------


        function validateGSTIN() {
            // Get the input value
            var gstinInput = document.getElementById('gstinInput').value.trim();

            // Define the GSTIN pattern
            var gstinPattern = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[0-9]{1}Z[0-9]{1}$/;

            // Check if the input matches the pattern
            if (!gstinPattern.test(gstinInput)) {
                // Set a custom validation message
                document.getElementById('gstinInput').setCustomValidity('Please enter a valid GSTIN number.');
            } else {
                // Clear the custom validation message
                document.getElementById('gstinInput').setCustomValidity('');
            }
        }
    
// ------------------------------------------------------------------------------------------------------------

</script>


{% endblock %}